body {
    background: #075a1c;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body *{
    box-sizing: border-box;
}

header {
    font-size: 2.5em;
    padding: 25px;
    margin: 10px;
    background-color: #034a5e77;
    width: 1200px;
    float: left;
    border-radius: 1em;
}

h1 {
    padding: 0px;
    margin: 0px;
}

nav {
    font-size: 2em;
    padding: 25px;
    margin: 10px;
    background-color: #034a5e77;
    width: 600px;
    float: right;
    border-radius: 1em;
}

ul > li {
    list-style: none;
    text-align: center;
    font-size: 2em;
}

ul > li > a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    background-color: #1a10a177;
    border-bottom: 2px dotted #fff;
    text-align: left;
    font-size: 0.5em;
    transition-duration: 0.5s;
}

ul > li > a:hover{
    background-color: #a1104077;
}

main{
    background-color: #034a5e77;
    width: 1200px;
    padding: 25px;
    margin: 10px;
    float: left;
    border-radius: 1em;
}

footer {
    text-align: center;
}